@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Russo One", sans-serif;
  --font-body: "Inter", sans-serif;
  --primary: #061411;
  --card-foreground: #baffed;
  --card-hover: #73ffda;
  --card-selected: #00f2b3;
  --button-primary: #195445;
  --button-hover: #27856d;
  --background: #e6fffc;
  --foreground: #ebfffa;
  --connection-solution-one: #c685ff;
  --connection-solution-two: #44d491;
  --connection-solution-three: #ffdc59;
  --connection-solution-four: #7dadff;

}